modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "javascript_openai:1.0.0", "stripe:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34569
externalPort = 5173

[[ports]]
localPort = 36347
externalPort = 6000

[[ports]]
localPort = 36529
externalPort = 5000

[[ports]]
localPort = 36561
externalPort = 3002

[[ports]]
localPort = 37197
externalPort = 3000

[[ports]]
localPort = 37823
externalPort = 3003

[[ports]]
localPort = 40127
externalPort = 8000

[[ports]]
localPort = 40269
externalPort = 8008

[[ports]]
localPort = 40611
externalPort = 8081

[[ports]]
localPort = 41065
externalPort = 4200

[[ports]]
localPort = 42275
externalPort = 3001

[[ports]]
localPort = 43949
externalPort = 6800

[[ports]]
localPort = 45903
externalPort = 8080

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd web && npm start -- -H 0.0.0.0 -p 5000"]
build = ["bash", "-c", "npm run build:shared && cd web && npm run build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://pbhrknchyuepwfqrepbi.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHJrbmNoeXVlcHdmcXJlcGJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwNzMwMzMsImV4cCI6MjA4MDY0OTAzM30.B1U1uHhJsbYCdbh52eAqYaxGvG9-W_vqkpKzb6av-Qk"
NEXT_PUBLIC_GIPHY_API_KEY = "4tMIMBQNo0UKr9mZbMkerDKKeJgMji0b"
